body,
html {
  height: 100%;
  display: block;
  background: hsl(216, 96, 96);
  overflow-x: hidden;
}
.container {
  width: 337px;
  height: 550px;
  background: #ebf3ff;
  box-shadow: 10px 10px 20px #b4c1d5;
  border-radius: 10px;
  margin: auto;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}
.question-container {
  width: 200px;
  height: 168px;
  background: #ebf3ff;
  box-shadow: inset 8px 8px 16px #b4c1d5;
  border-radius: 10px;
  top: 10px;
  display: grid;
  text-align: center;
  align-items: center;
}
.options {
  width: 250px;
  height: 50px;

  background: #ebf3ff;
  box-shadow: 10px 10px 20px #b4c1d5;
  border-radius: 10px;
  margin: 20px;
  display: grid;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.next {
  width: 100px;
  height: 30px;

  background: #ebf3ff;
  box-shadow: 10px 10px 20px #b4c1d5;
  border-radius: 10px;
  margin-left: 150px;
  display: grid;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  border: none;
}
.prev {
  width: 100px;
  height: 30px;
  background: #ebf3ff;
  box-shadow: 10px 10px 20px #b4c1d5;
  border-radius: 10px;
  transform: translate(-75px, 35px);
  display: grid;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  border: none;
}

.result {
  width: 100px;
  height: 30px;

  background: #ebf3ff;
  box-shadow: 10px 10px 20px #b4c1d5;
  border-radius: 10px;
  transform: translate(120px, 10px);
  display: grid;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
}
.score {
  width: 100px;
  height: 30px;

  background: #ebf3ff;
  box-shadow: 10px 10px 20px #b4c1d5;
  border-radius: 10px;
  transform: translate(120px, 20px);
  display: grid;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
}
*:focus {
  outline: none;
}
.winner-bg {
  transform: translate(50px, 0);
  display: none;
}
.next:hover {
  background-color: aqua;
}
.evaluate:hover {
  background-color: aqua;
}
.options:hover {
  background: aqua;
}
.prev:hover {
  background: aqua;
}
.lose-bg {
  transform: translate(50px, 0);
  display: none;
  width: 200px;
  height: 200px;
}
@font-face {
  font-family: Lily;
  src: url('/fonts/Lily.ttf');
}
.my-name {
  transform: translate(70px, 20px);
  font-family: Lily;
}
.won {
  transform: translate(70px, 20px);
  font-family: Lily;
  color: green;
  display: none;
}
