:root {
  --primary-color: hsl(216, 96, 96);
  --secondary-color: #b4c1d5;
}

.dark-theme {
  --primary-color: hsl(217, 10%, 16%);
  --secondary-color: black;
  --color: white;
}

body,
html {
  height: 100%;
  display: block;
  background: var(--primary-color);
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--color);
}

.container {
  width: 337px;
  height: 550px;
  background: var(--primary-color);
  box-shadow: 10px 10px 20px var(--secondary-color);
  border-radius: 10px;
  margin: auto;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  padding-top: 10px;
}

.question-container {
  width: 200px;
  height: 168px;
  background: var(--primary-color);
  box-shadow: inset 8px 8px 16px var(--secondary-color);
  border-radius: 10px;
  top: 10px;
  display: grid;
  text-align: center;
  align-items: center;
}

.options {
  width: 250px;
  height: 50px;
  background: var(--primary-color);
  box-shadow: 10px 10px 20px var(--secondary-color);
  border-radius: 10px;
  margin: 20px;
  display: grid;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.next {
  width: 100px;
  height: 30px;
  background: var(--primary-color);
  box-shadow: 10px 10px 20px var(--secondary-color);
  border-radius: 10px;
  margin-left: 150px;
  display: grid;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  border: none;
  color: var(--color);
}

.prev {
  width: 100px;
  height: 30px;
  background: var(--primary-color);
  box-shadow: 10px 10px 20px var(--secondary-color);
  border-radius: 10px;
  transform: translate(-75px, 35px);
  display: grid;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  border: none;
  color: var(--color);
}

.result {
  width: 100px;
  height: 30px;
  background: var(--primary-color);
  box-shadow: 10px 10px 20px var(--secondary-color);
  border-radius: 10px;
  transform: translate(120px, 10px);
  display: grid;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;
  color: var(--color);
}

.score {
  width: 100px;
  height: 30px;
  background: var(--primary-color);
  box-shadow: 10px 10px 20px var(--secondary-color);
  border-radius: 10px;
  transform: translate(120px, 20px);
  display: grid;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;
  color: var(--color);
}

*:focus {
  outline: none;
}

.winner-bg {
  transform: translate(50px, 0);
  display: none;
}

.next:hover {
  background-color: aqua;
}

.evaluate:hover {
  background-color: aqua;
}

.options:hover {
  background: aqua;
}

.prev:hover {
  background: aqua;
}

.lose-bg {
  transform: translate(50px, 0);
  display: none;
  width: 200px;
  height: 200px;
}

@font-face {
  font-family: Lily;
  src: url("/fonts/Lily.ttf");
}
.my-name {
  transform: translate(70px, 0);
  margin-top: 40px;
  font-family: Lily;
}

.won {
  transform: translate(70px, 0);
  margin-top: 40px;
  font-family: Lily;
  color: green;
  display: none;
}

.mode {
  width: 30px;
  height: 30px;
}

/*# sourceMappingURL=style.css.map */
